General Packages
devtools - To install non CRAN packages
dplyr - To manipulate data
rms - Used for bootstrapping

Visualization Packages
ggplot2
soccermatics (through devtools)
ggsoccer (through devtools)

Data Packages
StatsBombR (through devtools)
